
.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  > img {
    margin-bottom: .75rem;
  }
}
.card-text {
  font-size: 85%;
}

.browserupgrade {
  margin: 0.2em 0;
  background-color: #222;
  color: $gray-lighter;
  padding: 0.2em 0;
}
